.box {
    border: 1px solid black;
    /*display: inline-block;*/
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-bottom: 30px;
}

h1 {
    font-size: 70
    display: inline-block;
    margin-left: 200px;
}


@media (max-width:767px) {
    .mobile {
        background-color: green;
    }
    
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .desktop {
        background-color: red;
    }
    .tablet {
        background-color: yellow;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .desktop {
        background-color: red;
    }
}